:root {
	--b1: rgb(226, 226, 226);
  --g1: rgba(226, 226, 226, 0.8);
  --bor1: rgb(181, 181, 181);
  --b2: rgb(212, 212, 212);
  --g2: rgba(212, 212, 212, 0.8);
  --bor2: rgb(170, 170, 170);
  --b3: rgb(243, 243, 243);
  --g3: rgba(243, 243, 243, 0.8);
  --bor3: rgb(195, 195, 195);
  --b4: rgb(238, 238, 238);
  --g4: rgba(238, 238, 238, 0.8);
  --bor4: rgb(190, 190, 190);
  --b5: rgb(233, 233, 233);
  --g5: rgba(233, 233, 233, 0.8);
  --bor5: rgb(187, 187, 187);
  --b6: rgb(214, 214, 214);
  --g6: rgba(214, 214, 214, 0.8);
}
