:root {
	--background: #111;
	--background1: #222;
	--background2: #555;
	--color: #eee;
	--highlight: #fff;
}

*{
	color: var(--color);
}

svg {
	pointer-events: none;
}
body {
	background: var(--background);
	overflow-y: hidden;
	overflow-x: hidden;
	/* background-size: 50px 50px; */
  /* background-image: linear-gradient(to right, var(--background2) 1px, transparent 1px),linear-gradient(to bottom, var(--background2) 1px, transparent 1px); */
}

.block {
	overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.container {
	width: 5000px;
	height: 5000px;
	background: var(--background);
	background-size: 20px 20px;
  background-image: linear-gradient(to right, var(--background1) 1px, transparent 1px),linear-gradient(to bottom, var(--background1) 1px, transparent 1px);
}

.draggable {
	background: var(--background);
  padding: 1em;
	position: absolute;
	border: 2px solid var(--color);
  overflow: hidden;
  /* border-radius: 8px; */
  font-family: monospace;
  box-shadow: 6px 6px 0 rgba(0,0,0,.13);
}

.psuedo-container {
  padding: 1em;
	border: 1px solid var(--highlight);
	background: var(--background);
	position: fixed;
	z-index: 90;
}

.block.image {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	border: 1px solid var(--highlight);
	background: var(--background);
	font-family: monospace;
}

.connection:hover{
	background: var(--highlight);
}

.connection.input {
	position: absolute;
	top: -30px;
	left: 0px;
	width: 30px;
	height: 30px;
	border: 2px solid var(--highlight);
	background: var(--background);
}

.connection.output {
	position: absolute;
	bottom: -30px;
	right: 0px;
	width: 30px;
	height: 30px;
	border: 2px solid var(--highlight);
	background: var(--background);
}
.line-canvas{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 89;
	pointer-events: none;
}
.psuedo-slider {
	position: fixed;
	background: var(--background);
	z-index: 90;
	border: 1px solid var(--highlight);
}

.psuedo-cursor {
	position: absolute;
	width: 30px;
	height: 30px;
	color: var(--background);
	font-family: monospace;
	background: var(--highlight);
}

textarea {
	background: var(--background);
	width: 100%;
	height: 100%;
}
