:root {
	--error: #f88;
	--error-highlight: #f00;
	--background: #f3f3f3;
	--background1: #eaeaea;
	--background2: #d5d5d5;
	--color: #161616;
	--highlight: #161616;
}

* {
	color: var(--color);
	font-family: monospace;
	box-sizing: border-box;
}
.mr {
margin-right: .5em;
}
strong {
  background: #ff04;
}
.popup {
	position: fixed;
  max-width: 60vw;
  height: 60vh;
  top: 15vh;
  left: 15vh;
  border: 2px solid var(--highlight);
  background-color: var(--background1);
  padding: 1em;
  overflow-y: scroll;
  z-index: 99999999;
  min-width: 750px;
	box-shadow: 6px 6px 0 rgba(0, 0, 0, .1);
}

.image {
	width: 100%;
	height: 100%;
	background-size: cover;
}

svg {
	pointer-events: none;
}

body {
	background: var(--background);
	overflow-y: hidden;
	overflow-x: hidden;
	/* background-size: 50px 50px; */
	/* background-image: linear-gradient(to right, var(--background2) 1px, transparent 1px),linear-gradient(to bottom, var(--background2) 1px, transparent 1px); */
}

.block {
	padding-top: .5em;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	-ms-overflow-style: none;  
  scrollbar-width: none;  
}

.top-bar {
	position: absolute;
	width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 350ms;
  padding: .3em;
}
.top-bar p {
  padding: .3em;
  margin: 0;
}

/* .draggable.node:hover { */
/* 	z-index: 98; */
/* } */

.draggable:hover .top-bar {
	opacity: 1;
	/* transition-delay:.4s; */
}

.draggable.group .color-bar {
	opacity: 0;
	transition: all 150ms;
}

.draggable.group:hover .color-bar {
	opacity: 1;
}

.color-bar {
	position: absolute;
  top: .3em;
  right: .3em;
}

.container {
	width: 10000px;
	height: 10000px;
	background: var(--background);
	background-size: 20px 20px;
	background-image: linear-gradient(to right, var(--background1) 1px, transparent 1px), linear-gradient(to bottom, var(--background1) 1px, transparent 1px);
}

.container[holding='true']{
	cursor: grabbing;
}

.draggable {
	background: var(--background);
	padding: 1em;
	position: absolute;
	border: 2px solid var(--color);
	/* overflow: hidden; */
	/* border-radius: 8px; */
	font-family: monospace;
	z-index: 92;
	box-shadow: 6px 6px 0 rgba(0, 0, 0, .13);
}

.draggable.group {
	z-index: 91;
	background-color: #ff22;
}

.psuedo-container {
	padding: 1em;
	cursor: move;
	border: 2px solid var(--highlight);
	background: var(--background);
	position: fixed;
	z-index: 90;
}

.block.image {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	border: 2px solid var(--highlight);
	background: var(--background);
	font-family: monospace;
}

button:hover {
	box-shadow: 3px 3px 0 rgba(0,0,0,.3);
}

button:active {
	transform: translate(2px, 2px);
	background: var(--background2);
	box-shadow: 3px 3px 0 rgba(0,0,0,.3);
}

.connection:hover {
	background: var(--highlight);
}

.nodes[active='false']{
	display: none;
}

.connection{
	position: absolute;
  padding: 5px;
  width: 30px;
  height: 30px;
	background-color: var(--background);
  border: 2px solid var(--highlight);
}

.connection.input {
	/* top: -30px; */
	/* left: 0px; */
}

.connection.output {
	/* bottom: -30px; */
	/* right: 0px; */
}

.line-canvas {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 89;
	pointer-events: none;
}

.psuedo-slider {
	cursor: move;
	position: fixed;
	background: var(--background);
	z-index: 90;
	border: 2px solid var(--highlight);
	box-shadow: 5px 5px 0 rgba(0, 0, 0, .2);
}

.absolute {
	position: absolute;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	width: 30px;
	height: 30px;
	opacity: 0;
}

.cur-se {
	cursor: se-resize;
}

.cur-s {
	cursor: s-resize;
}

.cur-e {
	cursor: e-resize;
}

.box:hover {
	/* border: 1px solid black; */
	opacity: 1;
}

.psuedo-cursor {
	width: 30px;
	height: 30px;
	position: absolute;
	font-family: monospace;
	color: var(--background);
	background: var(--highlight);
	z-index: 9;
}

.psuedo-cursor:hover {
	box-shadow: 3px 3px 0 rgba(0,0,0,.3);
	cursor: grab;
}

.connection:hover {
	cursor: crosshair;
}

textarea {
	margin-top: 1.5em;
  width: 100%;
  background-color: inherit;
  outline: none;
  border: none;
	height: 85%;
  padding: .5em;
}

.sidebar {
	position: fixed;
	width: 30vw;
	height: 90vh;
	top: 5vh;
	background: var(--background1);
	border: 2px solid var(--highlight);
	z-index: 299;
	box-shadow: 6px 6px 0 rgba(0, 0, 0, .1);
}

.sidebar>* {
	margin: 1rem;
	padding: .5rem;
}

.sidebar[open='true'] {
	left: 1vw;
}

.sidebar[open='false'] {
	left: -40vw;
}

.section {
	border-top: 1px solid var(--color);
	font-family: monospace;
}

.section.search button {
  margin: .2em;
	border: 1.5px solid var(--highlight);
}

.group .label {
	border-bottom: 1px solid black;
  max-width: 400px;
  width: max-content;
}

.notification {
	z-index: 9819945129;
	width: 25vw;
	max-width: 400px;
	color: var(--color);
	background-color: var(--background);
	padding: 1em;
	min-height: 4em;
	border: 2px solid var(--highlight);
	box-shadow: 6px 6px 0 rgba(0, 0, 0, .13);
	opacity: 1;
	transition: all 2500ms ease;
}
.notification.error {
	color: red;
	border: 2px solid var(--error);
	box-shadow: 6px 6px 0 rgba(255, 0, 0, .13);
	opacity: 1;
	transition: all 2500ms ease;
}

.notification.error span{
	color: inherit;
}

.notification.error a{
	background-color: red;
	color: white;
}

button[updated='true']{
	pointer-events: none;
	opacity: .3;
}

.change-item{}
.change-map{
	width: 100%;
	height: 350px;
}

.change-block {
	height: 350px;
	width: 350px;
	border: 1px solid var(--highlight);
  padding: 1em;
  scrollbar-width: none;overflow-y: scroll;
}

.change-block.to {--color: green;}
.change-block.from {--color: red;}

.change-map[showing='false']{
	display: none;
}
.change-map[showing='true']{
	display: grid;
	grid-template-columns: 350px 350px;
	grid-gap: 15px;
}
